@import "../functions";

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

.page {
  .container {
    padding: 14px;
  }
  .search {
    border-bottom: 1px solid #e5e5e5;
    padding: 16px;

    label {
      position: relative;
      display: flex;

      input {
        border: 1px solid #e5e5e5;
        border-radius: 40px;
        margin-bottom: 0;
      }

      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        left: 16px;
      }
    }
  }

  ul.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    gap: 8px;

    li {
      display: flex;
      // padding: 8px;
      aspect-ratio: 47/32;
      overflow: hidden;

      &.full {
        grid-column: span 2;
        aspect-ratio: 97/32;
        .item {
          flex-direction: column-reverse;
          justify-content: end;

          .data {
            padding: 12px 6px;
            gap: 5px;
            width: 100%;
            flex-direction: column;

            .row {
              display: flex;
              flex-direction: row;
              width: 90%;
              margin: auto;
              justify-content: space-between;
              div {
                display: flex;
                flex-direction: column;
              }
            }
          }
          .btn {
            top: 0px;
            @media (max-width: 345px) {
              top: 25px;
            }
          }
        }
      }

      .item {
        width: 100%;
        height: 100%;
        background-size: cover;
        border-radius: 12px;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgb(0, 0, 0, 0.75);
        }

        .data {
          position: relative;
          display: flex;
          flex-direction: column;
          padding: 12px 6px;
          width: 65%;
          // bottom: 12px;
          @media (max-width: 315px) {
            width: 70%;
            padding: 4px 0px;
          }
          .event_title {
            display: flex;
            align-items: center;
            gap: 3px;
            svg {
              fill: #cd0000;
            }
          }
          h3 {
            direction: rtl;
            color: #eee;
            font-size: 14px;
            font-weight: normal;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @media (max-width: 315px) {
              font-size: 12px;
            }
          }
          span {
            padding-right: 15px;
            color: #bbb;
            font-size: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .btn {
          position: relative;
          background-color: transparent;
          border: solid 2px;
          color: #ddd;
          font-size: 12px;
          display: flex;
          align-items: center;
          padding: 0px 14px;
          border-radius: 40px;
          bottom: 12px;
          left: 6px;
          @media (max-width: 315px) {
            padding: 0px 8px;
            font-size: 10px;
          }
        }
      }

      .expired {
        // .expired_text {
        //   font-size: 1rem;
        //   text-align: center;
        //   width: 100%;
        //   font-weight: bold;
        //   color: #eee;
        //   z-index: 1;
        //   background-color: transparent;
        //   padding: 0 10px;
        //   position: absolute;
        //   top: 50%;
        //   transform: translateY(-50%);
        // }

        &::before {
          content: "ایونت منقضی شده است";
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.9);
          z-index: 2;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }

  .notFound {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.4;

    .icon {
      font-size: 100px;
      border: 7px solid #000;
      width: 170px;
      height: 170px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 150px;
      transform: rotate(-90deg) scale(0.8);
      margin-bottom: 12px;
    }

    h2 {
      margin-bottom: 12px;
    }
  }
}
