.page {
    position: relative;
  .header {
    width: 80vw;
    margin: auto;
    /* margin-top: 6vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    h2 {
      color: #ffffff;
      font-family: "Outfit";
      font-weight: 900;
      font-size: 1.5rem;
    }
    nav {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 3vw;
      a {
        color: #ffffff;
        font-family: "Outfit";
        font-weight: 500;
        font-size: 1rem;
        text-decoration-line: none;
        transition: 0.25s;

        &:hover {
          color: #ce643a;
          transition: 0.25s;
        }
      }
    }
  }

  .svgnav {
    display: none;
  }
  .search svg {
    width: 18px;
    height: 18px;
    fill: #ffffff;
    transition: 0.25s;
  }
  .search:hover svg {
    fill: #ce643a;
    transition: 0.25s;
  }
  .search svg:last-child {
    position: relative;
    width: 3px;
    height: 3px;
    right: 7px;
  }



  .hero {
    width: 81.2vw;
    height: 75vh;
    margin: auto;
    margin-top: 8vh;
    display: flex;
    justify-content: space-between;
  }
  .image {
    width: 400px;
    height: 400px;
    background: url("/background.png");
    background-size: cover;
    transition: 0.25s;
  }

  .content {
    // position: absolute;
    width: 40vw;
    height: 62vh;
    bottom: 0;
    h1 {
      color: #ffffff;
      font-family: "Outfit";
      font-weight: 900;
      font-size: 3.5rem;
      line-height: 120%;
    }
    p {
      color: #bdbdbd;
      font-family: "Outfit";
      font-weight: 400;
      font-size: 1rem;
      margin-top: 3vh;
      line-height: 160%;
    }
  }

  .frame {
    margin-top: 7.3vh;
    width: 100%;
  }
  .frame a {
    display: inline-block;
    text-decoration: none;
    font-family: "Outfit";
    font-weight: 600;
    font-size: 1rem;
    transition: 0.25s;
  }
  .hero-btn {
    color: #ffffff;
    border: 1px solid #ce643a;
    border-radius: 0.75rem;
    padding: 2.3vh 4vw;
    background-color: #ce643a;
    color: #ffffff;
  }
  .hero-btn:hover {
    border: 1px solid #ce643a;
    background-color: transparent;
    color: #ce643a;
  }
  .btn {
    border: 1px solid transparent;
    margin-left: 1.17vw;
    padding: 2.3vh 4.2vw;
    background-color: transparent;
    color: #ce643a;
  }
  .btn:hover {
    color: white;
  }
  .arrow {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 0;
  }
  .arrow svg:first-child {
    position: absolute;
    width: 2px;
    height: 26px;
    left: 12px;
    bottom: 0;
    fill: #ffffff;
  }
  .arrow svg:last-child {
    position: absolute;
    width: 20px;
    height: 11px;
    left: 3px;
    bottom: 0;
    fill: #ffffff;
  }
  .arrow:hover svg {
    fill: #ce643a;
    transition: 0.25s;
  }
}
