@import "../../functions";

.page {
  .content {
    .header {
      padding: 24px 24px 52px;
      border-radius: 8px;
      background-size: cover;
      background-position: center;
      position: relative;
      overflow: hidden;
      z-index: 1;
      color: var(--text-icon-color);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      span {
        position: absolute;
        bottom: 0;
        background: var(--dark-bg-color);
        padding: 4px 12px;
        border-radius: 8px 8px 0 0;
        color: var(--primary-color);
        font-weight: bold;
      }

      &:before {
        content: "";
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        backdrop-filter: blur(8px);
        z-index: -1;
      }
    }

    .players {
      margin-top: 24px;

      ul {
        display: flex;
        flex-direction: column;
        list-style: none;

        li {
          display: flex;
          align-items: center;
          width: 100%;
          background: #e5e5e5;
          padding: 16px;
          border-radius: 8px;

          &:not(:last-child) {
            margin-bottom: 16px;
          }

          .info {
            width: 100%;

            strong {
              margin-left: 8px;
            }

            span {
              opacity: 0.8;

              &:before {
                content: "( ";
              }

              &:after {
                content: " )";
              }
            }
          }

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--text-color);
            background: var(--dark-bg-color);
            font-size: 20px;
            padding: 12px;
          }
        }
      }
    }
  }

  .conductorMenu {
    position: fixed;
    left: -250px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--dark-bg-color);
    color: var(--text-color);
    width: 250px;
    border: 1px solid #3f3f3f;
    border-radius: 0 8px 8px 0;
    padding: 10px;
    z-index: 3;
    @include Transition(200ms);

    &.open {
      left: 0;
    }

    > button {
      position: absolute;
      padding: 0;
      width: 48px;
      height: 48px;
      right: -47px;
      top: 24px;
      border-radius: 0 8px 8px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      background: var(--dark-bg-color);
      color: var(--text-color);
      border: 1px solid #3f3f3f;
      border-left: 0;
    }

    header {
      margin-bottom: 8px;
      font-weight: bold;
      text-align: center;
    }

    ul {
      display: flex;
      list-style: none;
      flex-direction: column;

      li {
        width: 100%;
        display: flex;

        &:not(:last-child) {
          margin-bottom: 8px;
        }

        button {
          width: 100%;
        }
      }
    }
  }
}

.modal{
  background-color: var(--dark-bg-color);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  button {
    background-color: var(--dark-bg-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    padding: 0;

    &:hover{
      background-color: var(--primary-color);
      color: var(--dark-bg-color);
    }
  }
}

.modalBody {
  .row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}