@import "components/fonts";

@include DefineFont('Regular');

.page {
  background: #FFFFFF;
  font-family: 'IranSans', sans-serif;
  padding-bottom: 55px;

  .search {
    width: 100%;
    padding: 10px 20px;
    display: flex;

    label {
      border: 1px solid #CCCCCC;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 5px 15px 5px 5px;
      border-radius: 50px;

      svg {
        width: 30px;
        height: 30px;
        margin-left: 10px;
      }

      input {
        width: 100%;
        font-size: 14px;
        height: 100%;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .masonryGrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    margin-left: -10px;

    .masonryGridColumn {
      background-clip: padding-box;
      margin-left: 10px;

      button {
        display: flex;
        width: 100%;
        padding: 0;
        border: none;
        background: transparent;
        text-align: right;
        margin-bottom: 10px;

        .sliderItem {
          width: 100%;
          height: 250px;
          border-radius: 10px;
          position: relative;
          overflow: hidden;
          display: flex;

          .background {
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            z-index: 1;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            &:before {
              content: '';
              background: rgba(0, 0, 0, .6);
              position: absolute;
              width: 100%;
              height: 100%;
              z-index: -1;
            }
          }

          .sliderItemContent {
            display: flex;
            width: 100%;
            padding: 25px;

            svg {
              color: #B80000;
              width: 25px;
              height: 30px;
            }

            .meta {
              color: #BCBCBC;
              width: 100%;

              h3 {
                margin-bottom: 0;
                font-size: 23px;
              }

              ul {
                padding: 0;
                list-style: none;
                margin-bottom: 0;

                li {
                  font-size: 14px;
                }
              }
            }

            a {
              border: 1px solid #FFF;
              height: 35px;
              width: 90px;
              text-align: center;
              color: #FFF;
              border-radius: 50px;
              text-decoration: none;
              align-self: flex-end;
            }
          }
        }
      }
    }
  }

  .my-masonry-grid_column > div {
    background: grey;
    margin-bottom: 30px;
  }
}