@import "components/fonts";
@import "components/functions";

@include DefineFont('Regular');

.page {
  background: #FFFFFF;
  font-family: 'IranSans', sans-serif;
  padding-bottom: 55px;

  .myLastEvents {
    background: linear-gradient(315deg, #000000 0%, #003137 100%);
    padding: 15px 35px 40px;

    .title {
      display: flex;
      justify-content: space-between;

      h2 {
        font-size: 20px;
        color: #FFFFFF;
        display: flex;
        align-items: center;

        &:before {
          content: '';
          border-right: 7px solid #FFFFFF;
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          margin-left: 10px;
        }
      }

      a {
        border: 1px solid #FFFFFF;
        display: flex;
        line-height: 1;
        align-items: center;
        padding: 5px 20px;
        border-radius: 100px;
        color: #FFFFFF;
        text-decoration: none;
        @include Transition;

        svg {
          @include Transition;
        }

        &:hover {
          padding-left: 13px;

          svg {
            margin-right: 7px
          }
        }
      }
    }

    .content {
      color: rgba(255, 255, 255, .7);
      display: flex;
      margin-top: 16px;

      table {
        width: 100%;

        tr {
          &:not(:last-child) {
            margin-bottom: 4px;
          }

          td {
            font-size: 13px;
          }
        }
      }

      .dates {
        ul {
          list-style: none;
          margin-bottom: 0;
          padding-right: 0;
          @include SupportBrowsers(transform, rotate(-90deg));

          li {
            display: flex;
            align-items: center;
            line-height: 1;

            &:not(:last-child) {
              margin-bottom: 8px;
            }

            &:before {
              content: '';
              border-right: 7px solid var(--color);
              border-top: 7px solid transparent;
              border-bottom: 7px solid transparent;
              margin-left: 8px;
            }
          }
        }
      }
    }
  }

  .weekTopRole {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, .45);
    border-radius: 10px;
    margin: 25px 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    img {
      margin: -48px auto -1px;
    }

    .content {
      padding: 10px 16px;
      border-top: 1px solid rgba(0, 0, 0, 0.45);

      h3 {
        font-size: 18px;
        font-weight: bold;
      }

      h5 {
        font-size: 15px;
        color: #707070;
      }

      p {
        font-size: 13px;
        color: #AEAEAE;
        line-height: 16px;
        text-align: justify;
      }

      .button {
        display: flex;
        justify-content: flex-end;

        a {
          border: 1px solid #000000;
          display: flex;
          align-items: center;
          padding: 4px 16px;
          font-size: 14px;
          border-radius: 50px;
          text-decoration: none;
          color: #000000;

          svg {
            width: 20px;
            height: 20px;
            fill: #000000;
          }
        }
      }
    }
  }

  .lastEvents {
    border-top: 1px solid rgba(0, 0, 0, .32);
    padding: 10px 0 30px;

    .title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      a {
        color: #0055FF;
        text-decoration: none;
      }
    }

    .content {
      a {
        display: flex;
        width: 100%;
        padding: 0;
        border: none;
        background: transparent;
        text-align: right;

        .sliderItem {
          width: 100%;
          height: 250px;
          border-radius: 10px;
          position: relative;
          overflow: hidden;
          display: flex;

          .background {
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            z-index: 1;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            &:before {
              content: '';
              background: rgba(0, 0, 0, .6);
              position: absolute;
              width: 100%;
              height: 100%;
              z-index: -1;
            }
          }

          .sliderItemContent {
            display: flex;
            width: 100%;
            padding: 25px;

            svg {
              color: #B80000;
              width: 25px;
              height: 30px;
            }

            .meta {
              color: #BCBCBC;
              width: 100%;

              h3 {
                margin-bottom: 0;
                font-size: 23px;
              }

              ul {
                padding: 0;
                list-style: none;
                margin-bottom: 0;

                li {
                  font-size: 14px;
                }
              }
            }

            a {
              border: 1px solid #FFF;
              height: 35px;
              width: 90px;
              text-align: center;
              color: #FFF;
              border-radius: 50px;
              text-decoration: none;
              align-self: flex-end;
            }
          }
        }
      }
    }
  }

  .news {
    border-top: 1px solid rgba(0, 0, 0, .32);
    padding: 10px 0 30px;

    .sliderItem {
      width: 100%;
      height: 100px;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      display: flex;

      .background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        z-index: 1;
        display: flex;
        flex-direction: column;

        &:before {
          content: '';
          background: rgba(0, 0, 0, .6);
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: -1;
        }
      }

      .sliderItemContent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        padding: 15px;

        h3 {
          color: #FFFFFF;
          font-size: 18px;
        }

        a {
          color: #FFFFFF;
          border: 1px solid #FFFFFF;
          padding: 6px 18px;
          display: flex;
          align-items: center;
          width: 175px;
          font-size: 12px;
          justify-content: center;
          border-radius: 50px;
          text-decoration: none;
          align-self: end;
        }
      }
    }
  }
}