@import "components/fonts";

@include DefineFont('Regular');

.page {
  font-family: 'IranSans', sans-serif;
  font-weight: normal;
  background-image: url("/background.png");
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: #ffffff;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  border-radius: 18px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  flex-direction: column;

  h2 {
    font-size: 11px;
  }
}

.form {
  padding: 100px 45px 0;
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
      font-size: 16px;
      margin-bottom: 15px;
    }

    input {
      background: #E5E5E5;
      border-radius: 10px;
      border: none;
      font-size: 16px;
      padding: 10px 16px;
      margin-bottom: 5px;
    }
  }

  button {
    background: #0055FF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 16px;
    color: #ffffff;
  }
}

.confirm {
  padding: 100px 45px 0;
  flex-direction: column;
  display: flex;

  span {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  label {
    font-size: 12px;
    margin-bottom: 15px;
    color: #B5B5B5;
  }

  input {
    background: #E5E5E5;
    border-radius: 10px;
    border: none;
    font-size: 12px;
    padding: 10px 16px;
    margin-bottom: 8px;
  }

  button.back {
    color: #0055FF;
    font-size: 11px;
    background: transparent;
    border: transparent;
    margin-bottom: 15px;
    width: 55px;
    padding: 0;
    align-self: end;
  }

  button:not(.back) {
    background: #0055FF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    padding: 10px 16px;
    color: #ffffff;
  }
}

.hide {
  display: none;
}

.error {
  color: #E80000;
  font-size: 12px;
  margin-bottom: 10px;
}