.nav {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid #CCCCCC;
  padding: 12px 0;
  background: #ffffff;
  z-index: 1;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    align-items: center;

    li {
      display: flex;
      width: 100%;
      padding: 0 10px;

      a {
        display: flex;
        color: #000000;
        width: 100%;
        justify-content: center;

        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}