.alert {
  border: 1px solid #CCCCCC;
  background: #e5e5e5;
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 24px;

  svg {
    font-size: 24px;
    flex: 1 0 auto;
    margin-left: 12px;
  }

  span {
    width: 100%;
  }
}

.danger {
  color: var(--danger-color);
  border-color: var(--danger-color);
  background: var(--danger-light-color);
}

.warning {
  color: var(--warning-color);
  border-color: var(--warning-color);
  background: var(--warning-light-color);
}

.info {
  color: var(--info-color);
  border-color: var(--info-color);
  background: var(--info-light-color);
}

.success {
  color: var(--success-color);
  border-color: var(--success-color);
  background: var(--success-light-color);
}