.component {
  background: #ffffff;
  font-family: "IranSans", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-bg-color);

  .toggleMenu {
    background: transparent;
    color: white;
    padding: 0;
    display: flex;
    font-size: 32px;
  }

  .logo {
    display: flex;
    padding: 16px 24px;
    border-bottom: 1px solid #575757;
    width: 100%;
    justify-content: center;

    a {
      display: flex;
    }
  }

  .profile {
    padding: 16px 24px;
    border-bottom: 1px solid #575757;
    width: 100%;
    display: flex;
    align-items: center;

    .loginButton {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 10px;
      background: var(--primary-color);
      color: var(--primary-light-color);
      border-radius: 8px;
      transition: 0.3s;
      &:hover {
        background: #7a5af5;
      }
      &:active {
        background: #463eb6;
      }
    }

    img {
      border-radius: 50px;
      margin-left: 16px;
    }

    .info {
      width: 100%;

      h4 {
        font-size: 16px;
        color: var(--text-color);
      }

      .score {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: var(--text-color-secondary);

        svg {
          margin-left: 8px;
          color: orange;
          font-size: 20px;
        }
      }
    }
  }

  button.logout {
    display: flex;
    white-space: nowrap;
    color: var(--danger-color);
    background: var(--danger-light-color);
    border: solid var(--danger-color) 1px;
    align-items: center;
    padding: 6px 12px;
    border-radius: 4px;

    svg {
      margin-left: 4px;
    }
  }
}
