.component {
  background: #ffffff;
  font-family: "IranSans", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .toggleMenu {
    background: transparent;
    color: #333333;
    padding: 0;
    display: flex;
    font-size: 32px;
  }

  .logo {
    display: flex;
    padding: 16px 24px;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    justify-content: center;

    a{
      display: flex;
    }
  }

  .profile {
    padding: 16px 24px;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    display: flex;
    align-items: center;

    .loginButton {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 10px;
      background: var(--primary-color);
      color: var(--text-icon-color);
      border-radius: 8px;
    }

    img {
      border-radius: 50px;
      margin-left: 16px;
    }

    .info {
      width: 100%;

      h4 {
        font-size: 16px;
      }

      .score {
        display: flex;
        align-items: center;
        font-size: 14px;

        svg {
          margin-left: 8px;
          color: orange;
          font-size: 20px;
        }
      }
    }
  }

  button.logout {
    display: flex;
    white-space: nowrap;
    background: var(--danger-light-color);
    color: #fe5052;
    align-items: center;
    padding: 6px 12px;
    border-radius: 4px;

    svg {
      margin-left: 4px;
    }
  }
}
