.component .overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms ease-in-out 0ms;
  -moz-transition: all 200ms ease-in-out 0ms;
  -o-transition: all 200ms ease-in-out 0ms;
  transition: all 200ms ease-in-out 0ms;
}
.component .drawer {
  position: fixed;
  background: #FFFFFF;
  width: 400px;
  max-width: 100%;
  height: 100%;
  right: -400px;
  top: 0;
  z-index: 21;
  padding: 20px 32px;
  display: flex;
  flex-direction: column;
  -webkit-transition: all 200ms ease-in-out 0ms;
  -moz-transition: all 200ms ease-in-out 0ms;
  -o-transition: all 200ms ease-in-out 0ms;
  transition: all 200ms ease-in-out 0ms;
  overflow-y: auto;
}
.component .drawer .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
}
.component .drawer .profile img {
  border-radius: 120px;
  margin-bottom: 20px;
  border: 5px solid var(--primary-color);
  padding: 4px;
}
.component .drawer .profile .name {
  display: flex;
  align-items: center;
}
.component .drawer .profile .name strong {
  font-size: 18px;
  margin-left: 12px;
}
.component .drawer .profile .name .badge {
  background: var(--primary-color);
  color: var(--text-icon-color);
  border-radius: 5px;
  padding: 4px 12px;
  font-size: 12px;
}
.component .drawer .score ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 16px;
}
.component .drawer .score ul li {
  flex: 0 0 auto;
  width: calc(50% - 8px);
  background: var(--primary-light-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8px;
  border-radius: 8px;
  color: var(--primary-color);
  position: relative;
  overflow: hidden;
}
.component .drawer .score ul li p:nth-child(1) {
  font-size: 25px;
  font-weight: bold;
}
.component .drawer .score ul li svg {
  font-size: 100px;
  position: absolute;
  left: -30px;
  bottom: -30px;
  transform: rotate(30deg);
  opacity: 0.4;
}
.component .drawer .link {
  background: var(--primary-color);
  color: var(--text-icon-color);
  font-size: 16px;
  width: 100%;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
.component .drawer .link svg {
  font-size: 24px;
  margin-left: 12px;
}
.component .drawer .link.logout {
  background: var(--danger-light-color);
  color: #FE5052;
}
.component .drawer .menu {
  margin: 14px 0;
}
.component .drawer .menu header {
  display: flex;
  white-space: nowrap;
  align-items: center;
  margin-bottom: 12px;
}
.component .drawer .menu header:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #CCCCCC;
  margin-right: 12px;
}
.component .drawer .menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
.component .drawer .menu ul li {
  width: 100%;
  display: flex;
}
.component .drawer .menu ul li a {
  display: flex;
  width: 100%;
  background: var(--primary-light-color);
  color: var(--primary-color);
  font-size: 16px;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  align-items: center;
}
.component .drawer .menu ul li a svg {
  font-size: 24px;
  margin-left: 12px;
}
.component .drawer .copyRight {
  margin-top: auto;
  text-align: center;
  font-weight: bold;
  opacity: 0.5;
  color: #000000;
  font-size: 16px;
  letter-spacing: 3px;
}
.component.show .overlay {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.component.show .drawer {
  right: 0;
}

/*# sourceMappingURL=sidebar.module.css.map */
