@import "../components/fonts";

@include DefineFont('Regular');

.page {
  background: #FFFFFF;
  font-family: 'IranSans', sans-serif;
  padding-bottom: 55px;

  .header {
    background: url("/event-detail-header.png") top center;
    background-size: cover;
    height: 120px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    margin: 10px 0 30px;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFFFFF;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(5px);
      position: absolute;
      z-index: -1;
    }

    .info {
      h2 {
        font-size: 20px;
      }

      span {
        font-size: 16px
      }
    }

    .players {
      font-size: 13px;
      border-radius: 50px;
      border: 1px solid #FFFFFF;
      padding: 5px 10px;
    }
  }

  .content {
    margin-bottom: 30px;

    .revealRoleButton {
      background: #0a58ca;
      color: #FFFFFF;
      border: none;
      width: 100%;
      margin-bottom: 10px;
      border-radius: 8px;
      padding: 12px;
    }

    table {
      width: 100%;
      display: flex;

      tbody {
        display: flex;
        flex-direction: column;
        width: 100%;

        tr {
          margin-bottom: 4px;
          display: flex;
          flex-direction: row;
          align-items: center;
          border-radius: 8px;
          padding: 10px;
          color: #333333;

          td {
            white-space: nowrap;

            &:not(:last-child) {
              margin-left: 8px;
              text-transform: capitalize;
              font-weight: bold;
            }

            span {
              font-weight: normal;
              opacity: .7;
            }

            button {
              background: #FFFFFF;
              border: none;
              color: #333333;
              border-radius: 8px;
              font-size: 25px;
            }

            &:nth-child(2) {
              padding-right: 10px;
              width: 100%;
            }

            &:nth-child(3) {
              border-right: none;
              text-align: center;
            }
          }
        }
      }
    }
  }
}