.page {
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;

    li {
      width: 100%;
      display: flex;

      a {
        display: flex;
        width: 100%;
        background: var(--primary-light-color);
        color: var(--primary-color);
        font-size: 16px;
        text-align: center;
        padding: 12px;
        border-radius: 8px;
        margin-bottom: 12px;
        align-items: center;

        svg {
          font-size: 24px;
          margin-left: 12px;
        }
      }
    }
  }
}