@font-face {
    font-family: "IranSans";
    font-style: normal;
    font-weight: bold;
    src: url("./assets/fonts/IranSans/IranSansBold.eot");
    src: url("./assets/fonts/IranSans/IranSansBold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/IranSans/IranSansBold.ttf") format("truetype"),
        url("./assets/fonts/IranSans/IranSansBold.woff") format("woff"), url("./assets/fonts/IranSans/IranSansBold.woff2") format("woff2");
}
@font-face {
    font-family: "IranSans";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/IranSans/IranSansRegular.eot");
    src: url("./assets/fonts/IranSans/IranSansRegular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/IranSans/IranSansRegular.ttf") format("truetype"),
        url("./assets/fonts/IranSans/IranSansRegular.woff") format("woff"), url("./assets/fonts/IranSans/IranSansRegular.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --toastify-color-light: #fff;
    --toastify-color-dark: #0D0D1F;
    --toastify-color-info: #3EAEFF;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;

    --toastify-font-family: "IranSans", sans-serif;
}

html,
body {
    direction: rtl;
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
