@font-face {
    font-family: "IranSans";
    font-style: normal;
    font-weight: bold;
    src: url("./assets/fonts/IranSans/IranSansBold.eot");
    src: url("./assets/fonts/IranSans/IranSansBold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/IranSans/IranSansBold.ttf") format("truetype"),
        url("./assets/fonts/IranSans/IranSansBold.woff") format("woff"), url("./assets/fonts/IranSans/IranSansBold.woff2") format("woff2");
}
@font-face {
    font-family: "IranSans";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/IranSans/IranSansRegular.eot");
    src: url("./assets/fonts/IranSans/IranSansRegular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/IranSans/IranSansRegular.ttf") format("truetype"),
        url("./assets/fonts/IranSans/IranSansRegular.woff") format("woff"), url("./assets/fonts/IranSans/IranSansRegular.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background: linear-gradient(168deg, #601b69 -24.53%, #061624 119.47%);

    --toastify-color-light: #fff;
    --toastify-color-dark: #0d0d1f;
    --toastify-color-info: #3eaeff;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;

    --toastify-font-family: "IranSans", sans-serif;
}

@media screen and (min-width: 767px) {
    ::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 10px;
        background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #c8237c;
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #c8237c;
    }
}

html,
body {
    direction: rtl;
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.rmdp-mobile.rmdp-wrapper,
.rmdp-container .rmdp-wrapper.ep-arrow::after{
    background-color: #061624 !important;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
}

.rmdp-time-picker input{
    background-color: #061624 !important;
}

.rmdp-mobile.rmdp-wrapper .rmdp-border-top, 
.rmdp-mobile.rmdp-wrapper .rmdp-border-bottom {
    border-color: #3EAEFF;
}

