@import "functions";

@font-face {
  font-family: "IranSans";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/IranSans/IranSansBold.eot");
  src: url("fonts/IranSans/IranSansBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/IranSans/IranSansBold.ttf") format("truetype"),
    url("fonts/IranSans/IranSansBold.woff") format("woff"),
    url("fonts/IranSans/IranSansBold.woff2") format("woff2");
}

@font-face {
  font-family: "IranSans";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/IranSans/IranSansRegular.eot");
  src: url("fonts/IranSans/IranSansRegular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/IranSans/IranSansRegular.ttf") format("truetype"),
    url("fonts/IranSans/IranSansRegular.woff") format("woff"),
    url("fonts/IranSans/IranSansRegular.woff2") format("woff2");
}

:root {
  --primary-color: #a688fa;
  --primary-light-color: #121212;
  --text-color: #ffffffdd;
  --text-color-secondary: #ffffffb2;

  --success-color: #4af6c9;
  --success-light-color: #121212;

  --danger-color: #fe5052;
  --danger-light-color: #121212;

  --warning-color: #ffc107;
  --warning-light-color: #121212;

  --info-color: #03a9f4;
  --info-light-color: #121212;

  --dark-bg-color: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  direction: rtl;
  font-family: "IranSans", sans-serif;
  font-weight: normal;
  color: var(--text-color);
}

body {
  padding-bottom: 73px;
  background-color: var(--dark-bg-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

input,
button,
textarea,
select {
  font-family: "IranSans", sans-serif;
}

input,
textarea,
select {
  background: #282828;
  color: var(--text-color);
  border-radius: 10px;
  border: none;
  font-size: 16px;
  padding: 10px 16px;
  margin-bottom: 5px;
  max-width: 100%;
  min-width: 100%;
  ::placeholder {
    color: #3f3f3f;
  }
}

button {
  background: var(--primary-color);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 16px;
  color: var(--primary-light-color);
  @include Transition(300ms);

  &:hover {
    background: #7a5af5;
  }
  &:active {
    background: #463eb6;
  }
}

[disabled]:where(button, input, textarea) {
  opacity: 0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.input-number {
  -moz-appearance: textfield;
}

.Toastify__toast {
  font-family: "IranSans", sans-serif !important;
}

.container {
  padding: 24px;
}

.page-title {
  margin-bottom: 24px;
  position: relative;
  padding-right: 45px;

  a {
    position: absolute;
    left: 0;
    top: 50%;
    @include SupportBrowsers(transform, translateY(-50%));
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
    }
  }

  &:before,
  &:after {
    content: "";
    width: 10px;
    height: 10px;
    background: var(--primary-color);
    position: absolute;
    border-radius: 20px;
    top: 50%;
    right: 0;
    @include SupportBrowsers(transform, translateY(-50%));
  }

  &:after {
    right: 20px;
    @include SupportBrowsers(transform, translateY(-50%) scale(1.7));
  }
}

.submit-form {
  .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
      margin-bottom: 8px;
      font-size: 17px;
    }
  }
}
